<section class="margin-top" id="shinkan-compa">
<%= render 'smart_phone_menu'%>
  <div class="container">
      <div class="col-lg-6 info-img events_smart">
        <h2>練習</h2>
        <div><%= image_tag "info/practice.jpg", :size => "400×300", :alt => "テニス"%></div>
      </div>
      <div class=" col-lg-6">
        <p>東大レモンスマッシュの普段の練習は駒練と女子練、そして外練になります。駒練は東大駒場キャンパスにあるテニスコートで男子のみで行う朝練です。授業の前の朝の時間を有意義に使うことができ、レモンスマッシュ男子のテニスの根幹となります。女子練は本女、またはお茶大の近くにあるコートで行う女子が主体の練習で、テニスのうまい男子が指導に行きます。外練は毎週水曜と木曜にある男女混合の練習で、ラリーをしたり試合形式で練習したりして楽しみながら上達を図ります。</p>
      </div>
      <p><a href="/basic#index" class="btn btn-primary center-block">Back</a></p>
  </div>
</section>
