<section class="margin-top" id="shinkan-compa">
<%= render 'smart_phone_menu' %>
    <div class="container">
        <div class="col-lg-6 info-img events_smart">
          <h2>テニス</h2>
          <div><%= image_tag "info/tennis.jpg", :size => "400×300", :alt => "テニス"%></div>
        </div>
        <div class=" col-lg-6">
          <p>東大レモンスマッシュのテニスの軸となるのは、春と秋の団体戦です。男子も女子もこの団体戦に向けて日々練習を積んでいます。</p>
          <p>でも、自分はテニス初心者だから、、、という人も安心してください。当サークルでは、テニスの初心者でも、先輩や経験者のアドバイスが充実しているため上達も早く、対抗戦など試合にもたくさん出られるのでテニスが楽しくなります。練習でも自分の伸ばしたいところを重点的に練習できる機会が多いため、自分自身の成長にもつながります。</p>
        </div>
        <p><a href="/basic#index" class="btn btn-primary center-block">Back</a></p>
    </div>
  </section>
