<section class="margin-top" id="shinkan-compa">
<%= render 'smart_phone_menu' %>
  <div class="container">
      <div class="col-lg-6 info-img events_smart">
        <h2>イベント</h2>
        <div><%= image_tag "info/events_image.jpg", :size => "400×300", :alt => "テニス"%></div>
      </div>
      <div class=" col-lg-6">
        <p>	東大レモンスマッシュはイベント面も充実しています!夏と冬の年二回となる長期合宿に加え、BBQ、他サークルとの対抗戦、ドレスコードありの追いコン、仮装で繰り出すクリパ!	大学生ならではの多くのイベントに、レモンスマッシュのオリジナルイベントも盛りだくさん!大学生活のすべてがここに詰まっています!</p>
      </div>
      <p><a href="/basic#index" class="btn btn-primary center-block">Back</a></p>
  </div>
</section>
