<section class="margin-top" id="shinkan-compa">
<%= render 'smart_phone_menu' %>
  <div class="container">
      <div class="col-lg-6 info-img events_smart">
        <h2>仲の良さ</h2>
        <div><%= image_tag "info/friendly.jpg", :size => "400×300", :alt => "テニス"%></div>
      </div>
      <div class=" col-lg-6">
        <p>東大レモンスマッシュは、３つの大学からなるインカレサークルですが、大学や学年、男女の壁もなくアットホームなサークルです。テニスのときもイベントのときもサークル全体で楽しみます。一学年のみでの対抗戦などもあるので、同期とも大学を超えて仲良くなれます。いつ行ってもみんなが優しく迎えてくれるので自分にとってサークルが居心地の良い場所となることでしょう。</p>
      </div>
      <p><a href="/basic#index" class="btn btn-primary center-block">Back</a></p>
  </div>
</section>
