<div id="tenniswrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
        <h4></h4>
        <h1>BASIC INFO</h1>
        <h4></h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->

<%= render 'smart_phone_menu' %>

<section class="action">
  <div class="container">
    <div class="">
      <h5>【サークル名】</h5>
      <p>　　東京大学レモンスマッシュテニスサークル</p>
      <h5>【構成】</h5>
      <p>　　東京大学<br>　　お茶の水女子大学<br>　　日本女子大学</p>
      <h5>【創立】</h5>
      <p>　　1977年</p>
      <h5>【人数】</h5>
      <p>　　約100名</p>
      <h5>【活動場所】</h5>
      <p>　　東大駒場キャンパステニスコート<br>　　城北中央公園<br>　　浮間舟渡テニスコート</p>
      <h5>【加盟連盟】</h5>
      <p>　　関東学生庭球同好会連盟<br>　　関東国公立大学庭球同好会連盟<br>　　東京大学庭球同好会連盟</p>
    </div>
  </div>
</section>

<div class="container  centered" id="index">
  <div class="col-xs-12">
    <button class="snip0065s blue hover"　type="button"onclick="location.href='/basic_tennis'">　テニス　</button>
  </div>
  <div class="col-xs-12">
    <button class="snip0065s blue hover"　type="button"onclick="location.href='/basic_friendly'">仲の良さ</button>
  </div>
  <div class="col-xs-12">
    <button class="snip0065s blue hover"　type="button"onclick="location.href='/basic_practice'">　練習　</button>
  </div>
  <div class="col-xs-12">
    <button class="snip0065s blue hover"　type="button"onclick="location.href='/basic_events'">イベント</button>
  </div>
</div>
