<div id="tenniswrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
        <h4></h4>
        <h1>BASIC INFORMATION</h1>
        <h4></h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->

<section class="action margin-top transparent">
  <div class="container">
    <div class="left-text hidden-xs">
      <h5>【サークル名】</h5>
      <p>　　東京大学レモンスマッシュテニスサークル</p>
      <h5>【構成】</h5>
      <p>　　東京大学・お茶の水女子大学・日本女子大学</p>
      <h5>【創立】</h5>
      <p>　　1977年</p>
      <h5>【人数】</h5>
      <p>　　約100名</p>
      <h5>【活動場所】</h5>
      <p>　　東大駒場キャンパステニスコート・城北中央公園・浮間舟渡テニスコート</p>
      <h5>【加盟連盟】</h5>
      <p>　　関東学生庭球同好会連盟・関東国公立大学庭球同好会連盟<br>　　東京大学庭球同好会連盟</p>
    </div>
    <div class="right-image hidden-xs"></div>
  </div>
</section>

<section id="about"></section>
<div class="container">
  <div class="row centered mt">
    <div class="col-lg-8 col-lg-offset-2">

    </div>
  </div><! --/row -->
</div><! --/container -->

    <div>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6 info-img">
              <div><%= image_tag "info/tennis.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
            <div class=" col-lg-6">
    					<h2>レモンスマッシュのテニス</h2>
              <p>東大レモンスマッシュのテニスの軸となるのは、春と秋の団体戦です。男子も女子もこの団体戦に向けて日々練習を積んでいます。でも、自分はテニス初心者だから、、、という人も安心してください。当サークルでは、テニスの初心者でも、先輩や経験者のアドバイスが充実しているため上達も早く、対抗戦など試合にもたくさん出られるのでテニスが楽しくなります。練習でも自分の伸ばしたいところを重点的に練習できる機会が多いため、自分自身の成長にもつながります。</p>
            </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
              <div class=" col-lg-6">
      					<h2>レモンスマッシュの仲の良さ</h2>
                <p>東大レモンスマッシュは、３つの大学からなるインカレサークルですが、大学や学年、男女の壁もなくアットホームなサークルです。テニスのときもイベントのときもサークル全体で楽しみます。一学年のみでの対抗戦などもあるので、同期とも大学を超えて仲良くなれます。いつ行ってもみんなが優しく迎えてくれるので自分にとってサークルが居心地の良い場所となることでしょう。</p>
              </div>
              <div class="col-lg-6 info-img ">
                <div><%= image_tag "info/friendly.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">

            <div class="col-lg-6 info-img">
                <div><%= image_tag "info/events.jpg", :size => "400×300", :alt => "テニス"%></div>
            </div>
              <div class="col-lg-6">
                <h2>レモンスマッシュのイベント</h2>
                <p>	東大レモンスマッシュはイベント面も充実しています!夏と冬の年二回となる長期合宿に加え、BBQ、他サークルとの対抗戦、ドレスコードありの追いコン、仮装で繰り出すクリパ!	大学生ならではの多くのイベントに、レモンスマッシュのオリジナルイベントも盛りだくさん!大学生活のすべてがここに詰まっています!</p>
              </div>
          </div>
        </div>
      </section>
      <section class="margin-top" id="shinkan-compa">
        <div class="container">
          <div class="col-lg-12 events" style="background:white;">
            <div class="col-lg-6">
              <h2>レモンスマッシュの練習</h2>
              <p>東大レモンスマッシュの普段の練習は駒練と女子練、そして外練になります。駒練は東大駒場キャンパスにあるテニスコートで男子のみで行う朝練です。授業の前の朝の時間を有意義に使うことができ、レモンスマッシュ男子のテニスの根幹となります。女子練は本女、またはお茶大の近くにあるコートで行う女子が主体の練習で、テニスのうまい男子が指導に行きます。外練は毎週水曜と木曜にある男女混合の練習で、ラリーをしたり試合形式で練習したりして楽しみながら上達を図ります。</p>
            </div>
              <div class="col-lg-6 info-img">
                <div><%= image_tag "info/practice.jpg", :size => "400×300", :alt => "テニス"%></div>
              </div>
          </div>
        </div>
      </section>
    </div>
