<div class="container mt">
<div class="margin-top  col-lg-8 col-lg-offset-2">
 <%=image_tag "index/lsm_line_edit.png",:class => "img-responsive center"%>
 <p><br>レモンスマッシュの新歓用公式アカウントです。男子向けのテニス練習会や、御茶ノ水女子大、日本女子大での勧誘情報を発信します。
   QRコードで読み取っていただき、友だち追加してください。</p>

   <p class="centered"><a href="javascript:window.history.back();" class="btn btn-default">Back</a></p>
</div>
</div>
