<!-- Static navbar -->
<div id="tenniswrap">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
        <h4></h4>
        <h1 style="font-size:300%;">FOR FRESHMAN</h1>
        <h4>An event for freshmen.<br>Let's play tennis with us</h4>
			</div>
		</div><! --/row -->
    </div> <!-- /container -->
</div><! --/headerwrap -->
<%= render 'smart_phone_menu' %>

<section id="about"></section>
<div class="container">
  <div class="row centered mt">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>東大生の方へ</h1>
      <h2>練習会とは</h2>
      <p>東大レモンスマッシュでは、テニス経験者の皆さんに向けて、無料のテニス練習会を開催しています！受験生活でなまった体を、
        一緒にほぐしませんか？</p>
        <p>レモンスマッシュの実力ある先輩方が、丁寧に指導いたします。春休みのうちから、東大レモンスマッシュの
        「居心地の良い」雰囲気を感じてもらえる貴重な機会になっています。テニスの後は美味しいお食事会も予定しておりますので、
        楽しくお話ししましょう。</p>
        <p>お友達といらしても、お一人でいらしてもかまいません。東大レモンスマッシュは新入生のみなさんをおまちしております！
        なお、コート面数に限りがありますので、ご希望の方はDMやメールなどにて早めにご連絡ください!!</p>
        <p>練習会日程は下のカレンダーをチェック！</p>
    </div>
  </div><! --/row -->
</div><! --/container -->

<section id="about"></section>
<div class="container">
  <div class="row centered mt">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>日本女子大生の方へ</h1>
      <h2>サークル説明会</h2>
      <p>新入生のみなさん、ご入学おめでとうございます！</p>
      <p>４月４,５,６,７日の４日間、本女の近くのカレー屋さんを貸し切ってサークル説明会を開催します！
        説明会と言ってもおやつを囲みながら一緒にお話するような感じです！</p>
      <p>サークルに興味なくても新入生と仲良くなれたらと思うので気軽に来てください！</p>
      <p>無料で美味しいケーキも用意していますので、是非是非お友達と一緒に立ち寄ってみてください！数に限りがあるのでお早めに！</p>
      <p>時間や場所の詳しい情報はTwitterでも確認してもらえます</p>
    </div>
  </div><! --/row -->
</div><! --/container -->

<div class="container cal_wrapper " style="padding-bottom:10px;">
  <div class="">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2705.1591572273314!2d139.71736826304468!3d35.71710653520575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d11742eef99%3A0x585bb0d931ee3fe6!2z5qyn6aKo44Kr44Os44O877yG44Kr44OV44KnIOOCt-OCqOODqw!5e0!3m2!1sja!2sjp!4v1521048115964" width="370" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div><!--end of .cal_wrapper-->
</div>

<section id="about"></section>
<div class="container">
  <div class="row centered mt">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>お茶の水大生の方へ</h1>
      <h2>サークル説明会</h2>
      <p>新入生のみなさん、ご入学おめでとうございます！</p>
      <p>新入生に向けて、4月2日から11日までの10日間、正門前のcafe fuuにてサークル説明会をやってます！</p>
      <p>サークルに興味なくても新入生と仲良くなれたらと思うので気軽に来てください！</p>
      <p>無料で美味しいケーキも用意していますので、是非是非お友達と一緒に立ち寄ってみてください！数に限りがあるのでお早めに！</p>
      <p>時間や場所の詳しい情報はTwitterでも確認してもらえます</p>
    </div>
  </div><! --/row -->
</div><! --/container -->

<div class="container cal_wrapper center">
  <div class=" padding-top centered">
      <div class="googlecal">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.251883874959!2d139.73142331524048!3d35.72002333545092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188da7b8aeb165%3A0xf59767a50e7ab32!2scafe+Fuu!5e0!3m2!1sja!2sjp!4v1521279711568" width="370" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div><!--end of .googlecal-->
  </div><!--end of .cal_wrapper-->
</div>

<div class="container cal_wrapper " style="padding-bottom:10px;">
  <div class="">
       <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lsmshinkan44th%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FTokyo" style="border-width:0" width="370" height="370" frameborder="0" scrolling="no"></iframe><!-- Google カレンダー埋め込み用 HTML コードをペースト -->
  </div><!--end of .cal_wrapper-->
</div>
